* {
    box-sizing: border-box;  
}

body {
    background-color: #be5b29;
}


.intro {
   margin: auto;
   width: 100%;
   padding: 1%;
   text-align: center;
   background-color: #2EA0D2;
   color: white;

}

.nameTitle {
  margin-top: 35%;
}

/* Cards */

.cards {
  margin: auto;
  width: 100%;

}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #2EA0D2;
    perspective: 1000px; 
    float: left;
    margin-left: 9%;
    margin-top: 3%;
    border-radius: 20%;
  }
  

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
    border-radius: 20%;
  }  

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border-radius: 20%;
  }
 
  .flip-card-front {
    background-color: #2EA0D2;
    color: white;
    border-radius: 20%;
  }
  
 
  .flip-card-back {
    background-color: #2EA0D2;
    color: white;
    transform: rotateY(180deg);
    border-radius: 20%;
  }

/* Resume Card */
.profilePic {
    height:100px;
    width:100px;
    border-style: solid;
    border-color: #be5b29;
    border-width: 1%;
    border-radius: 20%;
    margin-top: 10%;
  }


.resume {
      width: 300px;
      height: 300px;
      border-width: 1%;
      border-radius: 20%;
      
  }

  /* Project Card */
.projectFront {
  margin-top: 10%;
}

.projectTitle {
  margin-top: 34%;
}


.projectName {
    color: white;
    float: right;
    padding: -29%;
    margin: 31%;
    width: 100%;
    margin-top: 64%;
    margin-right: 110%;
}


.projectPic {
  height:75px;
  width:75px;
  border-style: solid;
  border-color: #be5b29;
  border-width: 1%;
  border-radius: 20%;
  margin-top: 10%;
}

.projectPicBack {
  height: 75px;
  width: 75px;
  border-style: solid;
  border-color: #be5b29;
  border-width: 1%;
  border-radius: 20%;
  margin-top: 26%;
  float: left;
  margin-left: 77%;
}

.backPics {
  float: left;
  width: 20%;
}
.projectLinks {
  float: right;
  width: 20%;
}

/* Modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #be5b29;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  color: white;
}

.repo, .deployed {
  color: white;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Social media Card */

.socialTitle {
  margin-top: 41%;
}

.socialPic {
  float: left;
  margin-left: 20%;
  margin-top: 34%;
}

.socialLinks {
  float: right;
  margin-top: -8%;
}

.linkedIn {
  margin: 30%;
  margin-bottom: 20%;
}

.linkedIn > a{
  color: white;
  font-size: x-large;
}
  
.gitHub{
  color: white;
  margin: 30%;
  margin-top: 20%;
}

.gitHub > a {
  color: white;
  font-size: x-large;
}




